---
title: 404
permalink: /404
---

{% extends "@theme/_layouts/one-column.html.twig" %}

{% block body %}
    <div class="title">
        <div style="font-size: 45px; margin: 20px 0;">Oops... This page does not exist.</div>
        <h1><a href="{{ url('/') }}" style="color: blue;">Here, let me help you.</a></h1>
    </div>
{% endblock %}
