---
title: Contact
permalink: /contact
---

{% extends "@theme/_layouts/one-column.html.twig" %}

{% block body %}
    <div class="title contact">
        <div class="name">Contact Me</div>
        <h1>The best way to get in touch with me is through my email address at
            <a
                style="color: #ce313c;"
                target="_blank">
                isaactxw@gmail.com.
            </a>
        </h1>
    </div>
{% endblock %}