---
title: Home
permalink: /
---

{% extends "@theme/_layouts/one-column.html.twig" %}

{% block body %}
    <div class="title">
        <div class="name">Isaac Teh | devloper?</div>
        <h1>Hello there! I am a software developer in my final year of earning a B.S. in Computer Science.
            I enjoy building things and breaking them in good conscience.
        </h1>
        <div class="actions">
            <a href="{{ url('/resume') }}" class="action"><span>Resume</span></a>
            <a href="{{ url('/contact') }}" class="action"><span>Contact</span></a>
        </div>
    </div>
{% endblock %}
