---
title: Portfolio
permalink: /portfolio
---

{% extends "@theme/_layouts/one-column.html.twig" %}

{% block body %}
    <div class="title">
        <div style="font-size: 45px; margin: 20px 0;">This page is still under construction.</div>
        <p>In the meantime, feel free to check out my
            <a
                href="https://github.com/isaacxw"
                style="color: #ce313c;"
                target="_blank">Github
            </a>
         page!</p>
    </div>
{% endblock %}