---
title: About
permalink: /about
---

{% extends "@theme/_layouts/one-column.html.twig" %}

{% block body %}
    <div class="content about">
        <div class="side right">
            <div class="about-image">
                <img src="{{ url('assets/imgs/profile.jpg') }}" alt="Isaac Teh">
            </div>
            <h1>About Me</h1>
            <p>
                I am currently working towards a B.S. in Computer Science, expecting to graduate in the Summer of 2020.
                I am also a part-time Web Developer at Central IT @ California State University, Northridge.
                Alongside a team of highly talented and bright individuals, I help design, build and maintain online platforms
                that are utilized campus-wide.
            </p>
            <p>

                I’m passionate about the art of development and turning ideas into reality.
            </p>
            <p>
                Although I commit a significant portion of my time juggling between school, work, and side projects,
                I allocate some of my spare time to indulge in activities I enjoy which includes photography, video games,
                loitering outdoors, and playing the guitar.
            </p>
            <h2>Current Work</h2>
            <div class="location">
                <div class="logo"><img src="{{ url('assets/imgs/csun_logo_resize.jpg') }}" alt="California State University, Northridge"></div>
                <div class="details">
                    <div class="name">California State University, Northridge</div>
                    <div class="role">Web Developer</div>
                </div>
            </div>

            <h2>Current Education</h2>
            <div class="location">
                <div class="logo"><img src="{{ url('assets/imgs/csun_logo_resize.jpg') }}" alt="California State University, Northridge"></div>
                <div class="details">
                    <div class="name">California State University, Northridge</div>
                    <div class="role">B.Sc. Computer Science</div>
                </div>
            </div>
        </div>
{% endblock %}