<footer>
    <div class="copyright">Copyright &copy; {{ 'now' | date('Y') }}. All rights reserved</div>

    <div class="socials">
        <a href="https://github.com/isaacxw" target="_blank" title="Link to my Github page"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/isaactxw/" target="_blank"><i class="fab fa-linkedin" title="Connect with me on LinkedIn"></i></a>
        <a href="https://twitter.com/isaac_teh" target="_blank"><i class="fab fa-twitter" title="Find me on Twitter"></i></a>
        <a href="https://instagram.com/isaactxw" target="_blank"><i class="fab fa-instagram" title="Follow me on Instagram"></i></a>
    </div>
</footer>
