<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{{ this.title }} | Isaac Teh{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150969916-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-150969916-1');
        </script>

        <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ url('assets/css/styles.css') }}">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <header>
                {% block header %}
                    {% include "@theme/_includes/header.html.twig" %}
                {% endblock %}
            </header>

            {% block root %}{% endblock %}

            {% block footer %}
                {% include "@theme/_includes/footer.html.twig" %}

            {% endblock %}
        </div>

        {% block javascript %}{% endblock %}
    </body>
</html>
