body .container .content.resume {
  width: 100%;
  max-width: 600px;
  position: relative;
  float: left;
  margin-left: 50%;
  transform: translate(-50%, 0);
  margin-top: 100px;
  margin-bottom: 50px;
  font-family: "Fira Sans", sans-serif; }
body .container .content.resume .side.right {
  width: 600px;
  height: auto;
  position: relative;
  float: left; }
body .container .content.resume .side.right h1 {
  width: 100%;
  height: auto;
  position: relative;
  float: left;
  text-align: center;
  margin-top: 36px;
  margin-bottom: 40px;
  font-size: 28px;
  text-transform: uppercase;
  line-height: 36px; }
body .container .content.resume .side.right h2 {
  width: 100%;
  height: auto;
  position: relative;
  float: left;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-bottom: 4px;
  border-bottom: 3px solid;
  font-size: 28px;
  line-height: 30px;
  color: #ce313c; }
body .container .content.resume .side.right p:nth-last-of-type(1) {
  margin-bottom: 0; }
body .container .content.resume .side.right .location {
  width: 100%;
  height: auto;
  position: relative;
  float: left;
  margin-bottom: 15px; }
body .container .content.resume .side.right .location.bottom {
  margin-bottom: 0; }
body .container .content.resume .side.right .location .logo {
  width: 58px;
  height: 58px;
  position: relative;
  float: left;
  border-radius: 50%;
  overflow: hidden; }
body .container .content.resume .side.right .location .details {
  width: calc(100% - 58px);
  height: 100%;
  position: relative;
  float: left;
  margin-bottom: 15px;
  padding-left: 16px;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column; }
body .container .content.resume .side.right .location .details .role {
  width: 100%;
  height: auto;
  position: relative;
  float: left;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 12px; }
body .container .content.resume .side.right .location .details .name {
  width: 100%;
  height: auto;
  position: relative;
  float: left;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 15px; }
body .container .content.resume .side.right .location .details .timeline {
  width: 100%;
  height: auto;
  position: relative;
  float: left;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px; }
body .container .content.resume .side.right .location .details .description {
  width: 100%;
  height: auto;
  position: relative;
  float: left;
  padding: 1rem;
  margin-bottom: 8px;
  margin-left: -15px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 2px #ce313c;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px; }
body .container .content.resume .side.right .location .details .stack {
  width: 100%;
  height: auto;
  position: relative;
  float: left;
  margin-top: 2rem;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px; }