@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,700&display=swap');

body {
  width: 100%;
  letter-spacing: 1.3px; }
body .container {
  width: 100%;
  max-width: 1200px;
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  float: none;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
body .container header {
  width: 100%;
  height: 48px;
  position: relative;
  float: left;
  margin-top: 75px; }
body .container header .logo {
  width: 172px;
  height: 48px;
  position: relative;
  float: left; }
body .container header .logo img {
  width: auto;
  height: 100%;
  position: relative; }
  body .container header .nav {
    width: auto;
    height: 48px;
    position: relative;
    float: right; }
  body .container header .nav .item {
    width: auto;
    height: 48px;
    position: relative;
    float: left;
    margin-left: 36px;
    line-height: 48px;
    font-size: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-bottom: 3px solid white;
    transition: border-bottom 1.2s;
    -webkit-transition-timing-function: ease;

    &:hover { border-bottom: 2px solid #ce313c; }
  }
  body .container header .nav .item:nth-of-type(1) {
    margin-left: 0; }

